.main-board {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.main-board .hand {
    margin: 0 auto; /** centered */

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    width: calc(100vh * 0.85 * 9 / 11);
    height: calc(100vh * 0.9 * 1 / 11);
}

.board {
    padding: 1rem;
    margin: 0 auto; /** centered */
    border-radius: 4px;
    box-shadow: 0 0 5px 5px #e9e7e7;
    width: calc(100vh * 0.85 * 9 / 11);
    height: calc(100vh * 0.9 * 9 / 11);
    background-image: url(../../assets/pieces/japanese-chess-bg.jpg);
}

.boder-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}